fastapi
uvicorn[standard]
python-multipart
pypdf
PyMuPDF
pymupdf4llm
docling
google-generativeai
python-dotenv
asyncpg
langchain
langchain-community
langchain-text-splitters
langchain-postgres
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-ollama
sentence-transformers
rank_bm25
chromadb
psycopg[binary]
faster-whisper
pydub
